coverage==7.2.7
tornado==6.2.0;python_version<"3.8"
tornado==6.3.2;python_version>="3.8"
PySocks==1.7.1
pytest==7.4.0
pytest-timeout==2.1.0
trustme==1.1.0
cryptography==39.0.1
backports.zoneinfo==0.2.1;python_version<"3.9"
towncrier==23.6.0
pytest-memray==1.4.1;python_version>="3.8" and python_version<"3.12" and sys_platform!="win32" and implementation_name=="cpython"
